# Git
.git
.gitignore

# Docker
.docker
.dockerignore
**/Dockerfile*
**/docker-compose*

# Build artifacts
**/bin
**/build
**/dist

# Go specific
vendor/
coverage.out
**/*.test
*.out

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db

# test files for development build
# !**/*_test.go
client/